<html>
  <body>
    <form action="create-movie" method="POST">
      Name: <input type="text" name="name" /><br />
      Language: <input type="text" name="language" /><br />
      Genre: <br />
      <select name="genre" multiple>
        <option value="drama">Drama</option>
        <option value="comedy">Comedy</option>
        <option value="scary">Scary</option> </select
      ><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
