<html>
  <body>
    <div><a href="search-movie">Search A Movie</a></div>
    <div><a href="create-movie">Create A New Movie</a></div>
    <% if(username === "admin"){%>
    <div><a href="users-managment">Users Managment</a></div>
    <% } %>
  </body>
</html>
