<html>
  <body>
    <a href="main-menu">Back</a><br />
    <form action="search-movie" method="POST">
      Name: <input type="text" name="name" /><br />
      Language: <br />
      <select name="language">
        <option value="English">English</option>
        <option value="Hebrew">Hebrew</option>
        <option value="Spanish">Spanish</option>
      </select>
      Genre: <br />
      <select name="genres">
        <option value="Drama">Drama</option>
        <option value="Comedy">Comedy</option>
        <option value="Scary">Scary</option> </select
      ><br />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
